notebooks/exploratory/
lightning_logs/
lib/
data/
extras/
*MNIST/
*egg-info/
.log
.ftpconfig
*.pyc
*.pyd
*~
.idea
.cache
.ipynb_checkpoints
*.tar
*.h5
*.env
*.pt
*.pickle
*.npy
*.egg
*.csv
*.vscode
*.sif
*.png
*.jpg